.Table {
    width: 100%;
}

.DownloadImage {
    color: white;
    width: 90%;
}

.FilenameHeader {
    width: 75%;
}

.SeedHeader {
    width: 22.5%;
}

.DownloadHeader {
    width: 2.5%;
}

.DownloadElement {
    text-align: center;
}

table, th, td {
    border: 1px solid white;
}

th {
    text-align: left;
}